*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4fff4;
    color:#333;
}

header{
    background:linear-gradient(135deg,#2e7d32,#66bb6a);
    color:white;
    text-align:center;
    padding:40px;
}

.hero{
    text-align:center;
    padding:40px;
}

.simulador{
    text-align:center;
    padding:40px;
}

input[type="range"]{
    width:300px;
    margin:15px;
}

button{
    background:#2e7d32;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    cursor:pointer;
    margin-top:15px;
}

button:hover{
    background:#1b5e20;
}

.tanque{
    width:200px;
    height:300px;
    border:4px solid #555;
    margin:30px auto;
    position:relative;
    overflow:hidden;
    border-radius:10px;
}

#nivelAgua{
    position:absolute;
    bottom:0;
    width:100%;
    height:0%;
    background:linear-gradient(#4fc3f7,#0288d1);
    transition:1s;
}

.beneficios{
    padding:50px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    padding:20px;
    width:250px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
}

footer{
    background:#2e7d32;
    color:white;
    text-align:center;
    padding:20px;
}
